
<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field>
            <mat-label>Heroe</mat-label>
            <input type="text"
                   placeholder="Elige uno"
                   aria-label="Nombre del heróe"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption 
                            #auto="matAutocomplete"
                            (optionSelected)="opcionSeleccionada($event)">
              <!-- <ng-container *ngIf="heroes.length > 0 && termino.trim().length > 0; else noEncontrado">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                  {{ heroe.superhero }}
                </mat-option>
              </ng-container>
              <ng-template #noEncontrado>
                <mat-option [value]=''>
                  No se encontró nada con el término {{ termino }}
                </mat-option>
              </ng-template> -->
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>
              <mat-option *ngIf="heroes.length == 0 && termino.length > 0" value=''>
                No se encontró nada con el término {{ termino }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div>
      <pre>{{ heroeSeleccionado | json }}</pre>
    </div>
    <div *ngIf="heroeSeleccionado">
      <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
    </div>
</div>